{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ title }} page
{% endblock %}

{% block body %}

  <h1>Editing "{{ title }}" page</h1>

  <p>Use the form below to edit the "{{ title }}" page.</p>
  <p>Please note that entries are made in <a href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">Github Markdown</a>.</p>

  <form action="{% url 'edit' title=title %}" method="post">
    {% csrf_token %}
    {{ edit_form }}
    <input class="btn btn-primary" type="submit" value="Save">
  </form>

{% endblock %}